@import url(https://fonts.googleapis.com/css?family=Lato:300);

html, body{
	width: 100%;
	height: 100%;
}

.nav-bar{
	width: 100%;
	height: 40px;
	padding-top: 10px;
	padding-bottom: 35px;
	padding-right: 25px;
	position: fixed;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0);

}

.nav-bar li a{
	color: white;
	font-family: 'Lato', "Trebuchet MS", "Verdana";
	font-weight: 200;
}

.jumbotron img{
	height: 250px;
	width: 250px;
	border: 2px solid white;
	border-radius: 100%;
	display: block;
	margin: auto;
	
}

.portfolio-container a{
	text-decoration: none;
}

h1, p{
	display: block;
	text-align: center;
}

h2{
	font-family: 'Lato';
	font-size: 50px;
}





#image_row{
	display: block;
	position: relative;
}

.row{
	position: relative;
}

li{
	margin-right: 20px;
}

.nav-bar a:hover{
	text-decoration: none;
	border-bottom: 2px solid white;
	cursor: pointer;
}

.nav-bar a:active, a:visited{
	text-decoration: none;
}

.jumbotron{
	height: 100%;
	margin-bottom: 0px;
	background-color: #542B88;
}

.jumbotron h1, p{
	color: #FEFEFF;
	font-family: "Lato";
}

.jumbotron h1{
	font-size: 75px;
	font-weight: 300;
}

.jumbotron p{
	color: #FEFEFF;
	font-family: "Lato";
}


.footer{
	border-top: 1px solid black;
	background-color: #542B88;
	height: 40px;
	clear: both;
}

#footer-icon{
	width: 30px;
	float: none;
	margin: 0 auto;
}

.glyphicon.glyphicon-envelope{
	font-size: 30px;
	color: white;
	padding-bottom: 0px; 
	margin-bottom: 0px;
}

.glyphicon.glyphicon-envelope:hover{
	color: black;
}

.portfolio-container{
	margin: 0px;
}

.center-line{
	position: fixed;
	height: 100%;
	width: 2px;
	z-index: 5;
	background: black;
	display: none;
}

.wall-left{
	position: fixed;
	/*left: 0px;
	top: 0px;*/
	height: 100%;
	width: 50%;
	background: #e6e6e6;
	z-index: 5;
	border-right: 50px solid #333333;
	border-top: 40px solid #333333;
	border-bottom: 40px solid #333333;
	outline: 1px solid black;
}
.wall-right{
	position: fixed;
	right: 0px;
	height: 100%;
	width: 50%;
	background: #e6e6e6;
	z-index: 5;
	border-left: 50px solid #333333;
	border-top: 40px solid #333333;
	border-bottom: 40px solid #333333;
	outline: 1px solid black;

}

.key-container img{
	height: 100px;
	width: 130px;

}

.key-container{
	z-index: 7;
	top: 100px;
	position: fixed;
	cursor: pointer;
}

.key-hole-container{
	z-index: 6;
	position: fixed;
	top: 270px;
	width: 100px;
	margin: 0 auto;
	display: none;
}

.key-hole-container img{
	height: 130px;
	width: 100px;
}

.unlock-button{
	position: fixed;
	top: 400px;
	z-index: 6;
	height: 50px;
	width: 100px;
	border-radius: 0px;
	font-size: 16px;
	font-family: "Arial Black", "Verdana";
	display:none;
}

#background{
	position: fixed;
	top: 400px;
	z-index: 6;
	height: 50px;
	width: 100px;
	background-color: black;
	display: none;
}

.image{
	width: 480px;
	height: 270px;
	display: block;
	cursor: pointer;
	margin: 0 auto;
}

#quick-convert{
	background: url(img/quick_convert.png);
	background-size: 480px 270px;
}
#safe-pass{
	background: url(img/safe_pass.png);
	background-size: 480px 270px;
}

#muriqui{
	background: url(img/muriqui.png);
	background-size: 480px 270px;
}

#unlocker{
	background: url(img/unlocker.png);
	background-size: 480px 270px;

}

.image:hover .description{
	display: block;
}

.description{
	background-color: black;
	height: 270px;
	width: 480px;
	margin: 0 auto;
    opacity: 0.75;
    display: none;
}



.portfolio-container .row{
	padding: 30px 30px 30px 30px;
	background: #F6F6F6;
}

.description p{
	font-family: 'Lato', "Trebuchet MS", "Verdana";
}



h4{
	font-family: 'Lato', "Trebuchet MS", "Verdana";
	font-weight: 400;
	text-align: center;
	display: block;
}

li {
	font-family: "Lato", "Trebuchet MS", "Verdana";
	display: inline;
	font-size: 18px;

}

ul {
	display: inline;
}