html, body{
	width: 100%;
	height: 100%;
	font-family: "Open Sans", "Lato", sans-serif;
}

.row{
	margin-bottom: 2em;
}

.jumbotron{
	background-color: #542B88;
	height: 100%;
	margin-bottom: 0;
}

.jumbotron img{
	margin: auto;
}

.jumbotron h1{
	color: #FEFEFE;
	font-size: 6em;
	font-weight: 300;
}

.jumbotron-text{
	text-align: center;
	color: #FEFEFF;
	font-weight: 300;
}

.img-circle{
	border: 2px solid white;
}

.navbar-right{
	margin-right: 1.5em;
}

.myOverlay{
	height: 100%; 
	width: 100%; 
	padding: 2em;
	position: absolute; 
	background-color: rgba(84,43,136,0.8); 
	z-index: 1; 
	display: none;

	color: #FFFFFF;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 1.2em;
}

.myOverlay button{
	font-size: 1.1em;
	margin-right: 1em;
}

.myOverlay p{
	position: relative;
  top: 50%;
  transform: translateY(-60%);
  -ms-transform: translateY(-60%);;
  -webkit-transform: translateY(-60%);
}

.nav.navbar-nav li a {
    color: white;
    font-family: "Lato";
    font-size: 1.3em;
    font-weight: 300;
    text-decoration: none;
    text-transform: none;
}

.nav.navbar-nav li a:hover {
    border-bottom: 2px solid white;
    color: white;
}

.nav.navbar-nav li a:link{
	text-decoration: none;
    color: white;
}

.nav.navbar-nav li a:visited {
	text-decoration: none;
    color: white;
}

.navbar.navbar-nav li a:active {
	text-decoration: none;
    color: white;
}

.navbar{
	display: block;
	background-color: rgba(0, 0, 0, 0.7);
	border: none;
}

.about{
	background-color: #191919;
	padding-top: 4em;
	padding-bottom: 3em;
}

.about-text{
	color: #FFFFFF;
	text-align: center;
	font-size: 1.4em;
	font-weight: 300;
	font-style: "Lato";
	font-style: bold;

}

.about h2{
	font-size: 4em;
	font-weight: 400;
}

.portfolio{
	padding-top: 4em;
	padding-bottom: 3em;
	background-color: #F6F6F6;
}

.portfolio h2{
	text-align: center;
	font-size: 4em;
	font-weight: 400;

}

.project-container{
	border: 1px solid #000066;
	margin-bottom: 1.5em;
}


.controls-container{
	background-color: #191919;
}

.carousel-indicators{
	display: inline-block;
	position: relative;
	top:0px;
	bottom: 0px;
	margin-bottom: 0px;
	z-index: 2;
	padding: 0px;
	margin: 0px;
}

.glyphicon{
	z-index: 2;
	font-size: 2.5em;
	color: white;
	padding: 0px;
}

.glyphicon-chevron-right{
	padding-right: 2em;
}
.glyphicon-chevron-left{
	padding-left: 2em;
}



.glyphicon:hover{
	cursor: pointer;
}

.contact{
	padding-top: 4em;
	background-color: #542B88;
}

.contact h2{
	text-align: center;
	font-size: 4em;
	font-weight: 400;
	color: #FFFFFF;

}

.contact h3{
	
	font-weight: 300;

}

h3{
	text-align: center;
}

.contact{
	color: #FFFFFF;
	text-align: center;
}

.contact i{
	padding: 0.5em;
}

.contact a{
	color: white;
}

.contact a:hover{
	color: black;

}

.my-image {
	width: 30%;
}

@media screen and (max-width: 500px) {
    .my-image {
		width: 60%;
	}

	.jumbotron h1{
		color: #FEFEFE;
		font-size: 4em;
		font-weight: 300;
	}

	.jumbotron h3{
	color: #FEFEFE;
	font-size: 1.5em;
	font-weight: 300;
}
}





