html, body {
    height: 100%;
}

.content {
	font-family: 'Open Sans', sans-serif;
    color: #444444;
    height: 100%;
}

.about {
    padding-top: 2em;
}

.special {
    height: 100%;
    position: relative;
}

.go-down {
    position: absolute;
    bottom: 60px;
}

.bold-text {
    font-weight: 600;
}

a {
    color: #444444;
    text-decoration: none; /* no underline */
    margin-right: 0.7em;
}

a:hover {
    color: #634be7;
}

h1{
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h6 {
    font-size: 1.3em;
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    width: 100%;
}

.project {
    margin-bottom: 1.5em;
}

.fa-angle-double-down:hover {
    color: #6a50fb;
    cursor: pointer;
}

.about button {
	border-radius: 2px;
    background-color: white;
    border: 2px solid rgba(38,0,250,.35);
    padding: 0.5em 1.1em;
    font-size: 0.95em;
    margin: 1px;
}

.about button:hover {
	cursor: pointer;
	border-color: #7D66FC;
}

#hi {
    color: #6600cc;
}

.about-me {
    font-size: 1.07em;
    line-height: 1.6;
}

.projects {
    line-height: 1.6em;
}

@media (min-width: 600px) {
    .content {
        margin-left: 18em;
        margin-right: 18em;
    }
}