body {
    width: 100%;
    margin: 0px;
}

hr {
    margin:0px;
    border: 0;
    background-image: linear-gradient(to right, rgba(98,0,249,.6), rgba(38,0,250,.6));
    height: 3px;
}

.content {
	font-family: 'Open Sans', sans-serif;
    color: #444444;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-left: 18em;
    margin-right: 18em;
    margin: 2em 18em 1em 18em;
}

.go-down {
    position: absolute;
    bottom: 60px;
}

.bold-text {
    font-weight: 600;
}

.separator {
    border: none;
    background-image: none;
    margin-top: 3em;
    background-color: #E8E8E8;
    color: #E8E8E8;
    height: 1px;
}

.project .description {
    margin-right: 30px;
    width: 400px;
}

.project a {
    color: #444444;
    text-decoration: none; /* no underline */
}

.project a:hover {
    color: #634be7;
}

.footer a {
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: none;
    color: #585858;
}

.contact a {
    text-decoration: none;
    color: #23859D
}

.about a {
    text-decoration: none;
    color: #23859D
}

.align-right {
    float: right;
}

h1{
    font-size: 2.5em;
}

h3 {
    margin-top: 1.5em;
    font-size: 2em;
}

h6 {
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 0px;
}

img {
    width: 400px;
    height: 205px;
    border-radius: 2px;
    transition: 0.2s;
}


img:hover {
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
  cursor: pointer;
}

.project {
    display:flex;
    margin-bottom: 3em;
}

.fa-angle-double-down:hover {
    color: #6a50fb;
    cursor: pointer;
}

.about button {
	border-radius: 2px;
    background-color: white;
    border: 2px solid rgba(38,0,250,.35);
    padding: 0.5em 1.1em;
    font-size: 0.95em;
    margin: 1px;
}

.about button:hover {
	cursor: pointer;
	border-color: #7D66FC;
}

#hi {
    color: #6600cc;
}

.about-me {
    font-size: 1.07em;
    line-height: 1.6;
}

.projects {
    line-height: 1.6em;
}

@media (max-width: 1200px) {
    .content {
        margin: 2em 7em 1em 7em;
    }
}

@media (max-width: 700px) {
    .content {
        margin: 0em 1.5em 1em 1.5em;
    }

    .mobile-center {
        margin: 0 auto;
    }

    .project {
        flex-direction: column;
    }

    .project .description {
        margin-right: 0px;
        width: 320px;
    }

    img {
        width: 320px;
        height: 162px;
        margin-top: 1em;
    }
}